*´{
    margin: 0;
    padding: 0;
}
.caja{
    border: 3px solid;
    border-radius: 20px;
    border-color: darkolivegreen;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 50px #9ada9a;
}
h1{
text-align: center;
color: #33B8FF;
}

p{
    text-align: justify;
}
.boton{
    display: inline-block;
    background-color: #65e265;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 8px;
    margin: 15px 10px;
    /* transition: background-color,color 2000ms;*/
    transition-property: background-color,color;
    transition: 2s;                    /*s=segundos=1000ms*/
}

.boton:hover{
background-color: rgb(159, 245, 245);
color:#33B8FF;
}