input[type=button], input[type=submit], input[type=reset]{
background-color:darkkhaki;
border: none;
color:wheat;
padding: 10px 32px;
text-decoration: none;
margin: 4px 2px;
cursor:pointer;

}